
/* CUSTOM RESETS
================================================== */
.logo{
  
  border-radius: 150px;
  border: 2px solid rgb(245, 4, 4);
  height: 100px;
  width: 100px;
  object-fit: cover;

}
/* LAYOUT
================================================== */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}



/* HEADER
================================================== */
.site-header {
  height: 10px;
}
.site-logo a {
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.site-logo h3 {
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  padding-top: 25px;
  padding-left: 5px;
  font-size: 20px;
  line-height: 20px;
  color:azure;
}

/* Navigation */
.site-navigation {
  background-color: black;
}

.site-navigation .navbar-nav {
  padding-top: 45px;
}

.site-navigation .navbar-nav > li > a {
  padding: 0px 10px 10px;
  font-weight: bold;
  font-family:sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}

.site-navigation .navbar-nav > li + li > a {
  margin-left:30px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a,
.nav > li > a:hover,
.nav > li.active > a {
  background-color: transparent;
  border-color: #ffffff;
}

/* update form */

.update{
  box-shadow:3px 3px 5px 5px rgb(228, 10, 10);
  margin-left: 450px;
  margin-top: 70px;
  border-radius: 20px;
  background-color:#ffffff; 
  border: 5px solid rgb(218, 209, 209);
  height: 400px;
  width: 400px;
  text-align: center;
  padding-left: 15px;
}
